.wd-avatar {
    width: 50px;
}

.wd-rounded {
    border-radius: 20px;
}

.wd-centered-col {
    margin: 0;
    position: relative;
    left: 50%;
}

.wd-centered {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.wd-text-area {
    border: none;
    width: 100%;
}

.wd-tuit-button {
    width: 10%;
}