.wd-border-color { border-color: #2f3336; }

.wd-bg-color-black { background-color: black; }

.wd-grid-row {
    clear: both;
}
.wd-grid-col-ten {
  width: 10%;
}
.wd-title {
  color: white;
  padding-left: 16px;
  padding-top: 12px;
  border-style: solid;
  border-color: #2f3336;
  border-width: 1px;
  font-size: 20px;
  padding-bottom: 12px;
}

.wd-handle {
  color: lightgray;
  font-size: 13px;
}

.wd-post {
  padding-left: 16px;
  padding-top: 12px;
  border-style: solid;
  border-color: #2f3336;
  border-width: 1px;
  padding-bottom: 12px;
}

.wd-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-flex {
    display: flex;
    align-items: start;
}

.wd-tuit {
    padding-left: 12px;
}

.wd-tuit-info {
    font-size: 15px;
    color: white;
}

.wd-tuit-date-handle {
    color: lightgray;
}

.wd-tuit-text {
    color: white;
    font-size: 15px;    
    width: 506px;
    padding-right: 16px;
}

.wd-tuit-image {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 25px;
}

.wd-image {
    width:504px;
    height:264px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.wd-iamge-title {
    color: white;
    font-size: 20px;
    padding-left: 16px;
    padding-top: 12px;
}

.wd-image-text {
    color: lightgray;
    font-size: 15px;
    padding: 0px 12px 12px 12px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.wd-tuit-interactions {
    margin-top: 12px;
    padding-left: 60px;
    width: 504px;
    justify-content: space-between;
    display: flex;
}

.wd-interaction { 
    font-size: 15px;
    color: lightgray;
    display: flex;
    justify-content: space-evenly;
}