.wd-bg-color-black { color: black; }
.wd-bg-color-darkgray { color: darkgray; }
.wd-fg-color-white { color: white; }
.wd-highlight-color {color: #1da0f2; }
.wd-non-highlight-color {color: #6e767d; }

.wd-border-color { border-color: #2f3336; }


.wd-highlighted, .wd-non-highlighted {
    width: 16.67%;
    float: left;
    font-size: 15px;
    border-radius: 16px;
}

.wd-highlighted {
    border-bottom: #1da0f2;
    color: #1da0f2;
    border-width: 4px; 
}

.wd-non-highlighted {
    color: #6e767d;
}

.wd-padded-left {
    padding-left: 16px;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-padding-fat {
    border-radius: 16px;
}

.wd-explore-font-size {
    font-size: 15px;
}

.wd-topic-font-size {
    font-size: 13px;
}

.wd-dimension-topic-image {
    width: 100px;
    height: 100px;
}